# macOS
.DS_Store

# Node
node_modules
package-lock.json
yarn-lock.json
npm-debug.log
yarn-error.log

# Bundler
vendor/bundle

# Android Studio/IntelliJ
.gradle
.idea
build/
android/local.properties

# Pod
ios/Pods
ios/build
ios/Podfile.lock

# Rust
target

ios/generated
src/generated
android/app/src/generated

# Xcode
xcuserdata
xcshareddata
